* {
	box-sizing: border-box;
}

body, html {
	background: #e1e1ea;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

.container {
	margin: .5em;
	padding: 2em;
}

.header {
	display: inline-flex;
	width:100%;
}

.header h1 {
	font-family: 'Lobster', cursive;
	font-size: 4em;
	width: 100%;
}

.header input {
	margin: 4em;
	width:80%;
	padding:1em;
	border: solid 1px #cacad2;
	border-radius: 5px;
}

.list {
  display: grid;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-row: 1fr 1fr 1fr 1fr;

}

li {
	list-style-type: none;
}

.user__card {
	display: grid;
	flex-direction:row;
  border: solid 1px #cacad2;
  border-radius:15px;
  margin: .5em;
	padding:2em;
	justify-content:center;
	align-content:center;
	background: white;
	grid-column-gap: 1em;
	width: 80%;
	grid-template-areas:
	"img h1 h1"
	"img a a"
	"img p p";
}

.user__card img {
	grid-area: img;
	margin-top: 1em;
	height: 10vh;
	width: 10vh;

}

.user__card h1 {
	font-family: 'Lobster', cursive;
	font-size: 1em;
	grid-area: h1;
	margin-right: .5em;
}

.user__card a {
	grid-area: a;
	margin-right: .5em;
}

.user__card p {
	grid-template: p;
	margin-right: .5em;
}


.user__card:hover {
	border: double 1px #f6f6f8;
	background:#f6f6f8;
}

h1,
p {
	text-transform:capitalize;
}


.user__image {
	border-radius:50%;
	width:40%;
}

/* Overlay */

.overlay {
	 position: fixed; /* Sit on top of the page content */ /* Hidden by default */
	 width: 100%; /* Full width (cover the whole page) */
	 height: 100%; /* Full height (cover the whole page) */
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: rgba(0,0,0,0.6); /* Black background with opacity */
	 z-index: 2; /* stack order */
	 cursor: pointer; /* Add a pointer on hover */
}



.overlay .user__card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 1em;
	width: 30%;
	grid-template-areas:
	". img img . "
	". h1 h1 ."
	". p  p ."
	". a  a ."
	". li li ."
	". li li .";

}

.overlay .user__card h1 {
	font-size: 1em;
	grid-area: h1;
	margin:  3em auto;
  width: 50%;
  padding: 10px;
	font-size: 2em;
	text-align: center;
}

.overlay .user__card img {
	grid-area: img;
	margin: auto;
  padding: 10px;

}

.overlay .user__card p {
	grid-area: p;
	margin: auto;
  width: 100%;
  padding: 10px;
	text-align: center;
	font-size: 1.5em;
}

.overlay .user__card a {
	grid-area: a;
	margin: auto;
  width: 100%;
  padding: 10px;
	text-align: center;
	font-size: 1.5em;
}

.overlay .user__card li {
	text-transform:capitalize;
	margin: auto;
  width: 50%;
	text-align: center;
  padding: 10px;
	font-size: 1.5em;
}

.hide {
	display: none;
}

/* Navigation */

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
	z-index: 3;
}

svg {
  padding: 5px;
}

.arrow {
  position: absolute;
	padding-top: 50em;
}

.left {
  left: 10%;

}

.right {
  left: 90%;

}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.cross {
	width: 4em;
	display: block;
}

.close-x {
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 10;
}
